<div>
    <nav class="navbar bg-body-secondary ">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <div class="d-flex ms-3">
                <img src="https://cdn.iconscout.com/icon/premium/png-512-thumb/employees-1750401-1493335.png?f=webp&w=256" alt="Logo" width="50" height="40" class="d-inline-block align-text-top">
                <h4 class="ms-4 mt-2 fw-bolder" style="color: rgb(91, 91, 231);">Employees-Portel</h4>
            </div>
          </a>
        </div>
      </nav>
</div>
